---
import { getCollection } from "astro:content";
import Layout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import { FORME } from "@consts";
// import BackToPrevious from "@components/BackToPrevious.astro";
import BackToPrevious from "@components/BackToPrev.astro";

const post = (await getCollection("forme"))[0];

const { Content } = await post.render();
---

<Layout title={FORME.TITLE} description={FORME.DESCRIPTION}>
  <Container>
    <Container>
        <div class="animate">
          <BackToPrevious href="/blog">Back to blog</BackToPrevious>
        </div>
        <div class="my-10 space-y-1">
          <h1 class="animate text-3xl font-semibold text-black dark:text-white">
            {post.data.title}
          </h1>
        </div>
        <!-- <TableOfContents headings={headings} /> -->
        <article class="animate">
          <Content />
          <div class="mt-24">
            <!-- <Giscus /> -->
          </div>
        </article>
      </Container>
  </Container>
</Layout>
